<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Pinterest</title>
    <link rel="icon" href="../images/pin.png">
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    
    <div class="cursor2">
      
  
    </div>
    <div class="cursor3">
      
  
    </div>
    <div class="cursor4">
      
  
    </div>
    <div class="cursor5">
      
  
    </div>
    <div class="cursor6">
      
  
    </div>
    <div class="cursor7">
      
  
    </div>

    <div class="loader-container">
        <div class="loader">
            <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png" alt="V-Pinterest Logo">
            <span class="text">V-Pinterest</span>
        </div>
    </div>
    <div class="nav">
        <div class="part1">
            <a href="" class="pinn"><img src=""  alt="">
                Pinterest</a>
            <a href="/explore">Explore</a>
        
        </div>
        <div class="part2">
            <a  href="https://newsroom.pinterest.com/company/?utm_source=redirect_aboutsite&utm_medium=organic-pinterest" target="_blank">About</a>
            <a href="https://newsroom.pinterest.com/?utm_campaign=pinterest_homepage_blogicon_all_evergreen&utm_medium=organic-pinterest&utm_source=organicpins_pinsite_homepageicon" target="_blank">Blog</a>
            <a href="/login/user" class="log">Log in</a>
            <a href="/register/user" class="sin"> Sign up</a>
        </div>
    </div>
<div class="container">
    
   
   
    <div class="first">
        <div class="infop1">
            <p class="get">Get your next</p>
        </div>
        <div class="imgcont">
            <div class="imgcontainer">
              <div class="one">
                <div class="long">
                    <div class="limg"><img src="../images/f1.jpeg" alt=""></div>
                    <div class="limg"><img src="../images/f2.jpeg" alt=""></div>
                </div>
                <div class="short">
                    <div class="limg"><img src="../images/fr1.jpeg" alt=""></div>
                    <div class="limg"><img src="../images/fr2.jpeg" alt=""></div>
                </div>
              </div>
              <div class="two">
                <div class="midc">
                    <p class="midcc">Different Ideas</p>
                </div>
                <div class="mid"><img src="../images/ai2.jpeg" alt=""></div>
              </div>
              <div class="three">
                <div class="short">
                    <div class="limg"><img src="../images/ani1.jpeg" alt=""></div>
                    <div class="limg"><img src="../images/ani2.jpeg" alt=""></div>
                </div>
                <div class="long">
                    <div class="limg"><img src="../images/anime1.jpeg" alt=""></div>
                    <div class="limg"><img src="../images/anime2.jpeg" alt=""></div>
                </div>
              </div>
            </div>
            
            
        </div>
    </div>
    <div class="second">
        <div class="cont2 s1" >
             <div class="image">
                <img src="../images/f1.jpeg" alt="">
                <div class="image2"><img src="../images/f2.jpeg" alt=""></div>
             <div class="image3"><img src="../images/f3.jpeg" alt=""></div>
             <div class="image4"><img src="../images/f4.jpeg" alt=""></div>
             </div>
             
        </div>
         <div class="info s2">
             <p class="sh">Search for an idea</p>
             <p class="go">What do you want to try next? Think of something you’re into—like “easy chicken dinner”—and see what you find.</p>
            <a href=""><button class="btn">Explore</button></a>
         </div>
     </div>
    <div class="third">
        <div class="info" id="th1">
            <p class="sh3">Save ideas you like</p>
            <p class="go3">Collect your favorites so you can get back to them later.</p>
           <a href=""><button class="btn">Explore</button></a>
        </div>
        <div class="cont2 th2">
            <div class="image">
                <img src="../images/fr1.jpeg" alt="">
               <div class="image2"><img src="../images/fr2.jpeg" alt=""></div>
            <div class="image3"><img src="../images/fr3.jpeg" alt=""></div>
            <div class="image4"><img src="../images/fr4.jpeg" alt=""></div>
            </div>
            
       </div>
    </div>
    <div class="fourth">
        <div class="full">
            <img src="images/fourth.png" alt="">
        </div>
        <div class="info2">
            <p class="sh4">See it, make it, try it, do it</p>
            <p class="go4">The best part of Pinterest is discovering new things and ideas from people around the world..</p>
           <a href=""><button class="btn">Explore</button></a>
        </div>
    </div>
    <div class="fifth">
        <div class="cont3">
            <div class="content">
                <div class="info2">
                    <p class="sh5">Sign Up to get Your ideas</p>
                </div>
                <div class="form">
                    <form action="/create/user" method="post" aria-required="true">
                        <img src="../images/pin.png" alt="" height="50px">
                        <p class="wel">Welcome to Pinterest</p>
                        <p class="fn">Find new ideas to try</p>

                        <label for="name">Full Name</label>
                        <input type="text" minlength="8" name="name" id="" placeholder="Full Name">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="" placeholder="Email">
                        <label for="password">Password</label>
                        <input type="password" minlength="8" name="password" id="" placeholder="Password">
                        <label for="dob">BirthDate</label>
                        <input type="date" name="dob" id="">
                        <input type="submit" name=""class="btn" id="" value="continue">
                        <p>Already a member?<a href="/login/user" class="em">Log in </a></p>
                    </form>
                </div>
            </div>
           
        </div>
    </div>
</div>   
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.7/gsap.min.js" integrity="sha512-f6bQMg6nkSRw/xfHw5BCbISe/dJjXrVGfz9BSDwhZtiErHwk7ifbmBEtF9vFW8UNIQPhV2uEFVyI/UHob9r7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.7/ScrollTrigger.min.js" integrity="sha512-AcqPGqrrAEtEwe+ADO5R8RbdFi7tuU7b/A2cJJH0Im0D18NRk5p5s4B3E5PMuO81KFw0ClN7J5SHVUJz7KOb0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../scripts/index.js"></script>  
 
</body>
</html>