<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Pinterest</title>
    <link rel="icon" href="../images/pin.png">
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>
    <div class="loader-container">
        <div class="loader">
            <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png" alt="V-Pinterest Logo">
            <span class="text">V-Pinterest</span>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <% if(suc.length>0) { %>
                <p class="suc"><%= suc%></p>
                <% } %>
        <div class="form">

            <form action="/login/user/data" method="post">
                <img src="../images/pin.png" alt="" height="50px">
                <p class="wel">Welcome to Pinterest</p>
               
        
               
                <label for="email">Email</label>
                <input type="email" name="email" id="" placeholder="Email">
                <label for="password">Password</label>
                <input type="password" minlength="8" name="password" id="pass" placeholder="Password">
                <label for="password"><a href="/forgetpass">Forget Password ?</a></label>
                <input type="submit" name=""class="btn" id="" value="Login">
                <p>New User?<a href="/register/user" class="em">Register here</a> </p>
            </form>
        </div>
        </div>
    </div>
     
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.7/gsap.min.js" integrity="sha512-f6bQMg6nkSRw/xfHw5BCbISe/dJjXrVGfz9BSDwhZtiErHwk7ifbmBEtF9vFW8UNIQPhV2uEFVyI/UHob9r7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.7/ScrollTrigger.min.js" integrity="sha512-AcqPGqrrAEtEwe+ADO5R8RbdFi7tuU7b/A2cJJH0Im0D18NRk5p5s4B3E5PMuO81KFw0ClN7J5SHVUJz7KOb0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../scripts/login.js"></script>
    <script>
       
    </script>
</body>
</html>