body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
   
}
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
 }
 .loader {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #e60023;
 }
 .logo {
    width: 80px;
    height: 80px;
 } 

.suc{

    height: 50px;
    width: 30%;
    resize: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(246, 52, 42);
    color: white;
  
    left: 35%;
    bottom: 90%;
    position: absolute;
    z-index: 20;
    font-size: 1vw;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid rgb(255, 255, 255);
    text-transform: capitalize;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
.container
{
    height: 100vh;
    width: 100%;
    display: flex;
  
    align-items: center;
    background-color: rgba(0, 0, 0, 0.019);
}
.nav{
    height: 100%;
    width: 3.5%;
    position: fixed;
    border-right: 1px solid rgb(147, 141, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    gap: 30%;
    background-color: rgb(255, 255, 255);
   
    
  
}
.sample{
    height: 100%;
    width: 3.5%;
    border-right: 1px solid rgb(147, 141, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    gap: 30%;
    background-color: rgb(255, 255, 255);
   
    
  
}
.first{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content:start;
    align-items: center;
    flex-direction: column;
    gap: 3vw;
}
.inner{
    
    gap: 5px;
    width: 150%;
}
.first div{
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
}.tol{
    position: absolute;
    left: 60px;
    font-weight: 400;
    background-color: black;
    color:white;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 80px;
    opacity: 0;
    
}
.main{
    height: 100%;
    width: 100%;
    background-color: rgb(247, 247, 0);
}
.navdiv{
    height: 10%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.main2{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
form{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%
   
}
#input{
    height:50%;
    width:90%;
    border-radius: 10px;
    border: none;
    background-color: rgba(178, 170, 170, 0.168);
}
label{
    width: 60%;
    text-align: start;
    
 }
 input{
    height: 40px;
    width: 66%;
    border-radius: 10px;
    border:1px solid grey;
 }

 .btn{
    height: 40px;
    background-color: red;
    color: white;
    width: 100px;
    border: none;
    border-radius: 30px;
}
.g1{
    height: 100%;
    width: 50%;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.g2{
    height: 100%;
    width: 50%;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imgd{
    height: 80%;
    width: 60%;
    background-color: rgba(250, 235, 215, 0);
   border-radius: 60px;
   display: flex;
   justify-content: center;
   align-items: center;

}
.data{
    height: 70%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#imgad{
    height: 70%;
    width: 70%;
    
    object-fit: cover;
    border-radius: 60px;
}
