body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
   
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
 }
 .loader {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #e60023;
 }
 .logo {
    width: 80px;
    height: 80px;
 }
.suc{

    height: 50px;
    width: 30%;
    resize: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(246, 52, 42);
    color: white;
  
    left: 35%;
    bottom: 90%;
    position: absolute;
    z-index: 20;
    font-size: 1vw;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid rgb(255, 255, 255);
    text-transform: capitalize;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

.container
{
    height: 100vh;
    width: 100%;
    display: flex;
  
    align-items: center;
    background-color: rgba(0, 0, 0, 0.019);
}
.nav{
    height: 100%;
    width: 3.5%;
    position: fixed;
    border-right: 1px solid rgb(147, 141, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    gap: 30%;
    background-color: rgb(255, 255, 255);
   
    
  
}
.sample{
    height: 100%;
    width: 3.5%;
    border-right: 1px solid rgb(147, 141, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    gap: 30%;
    background-color: rgb(255, 255, 255);
   
    
  
}
.first{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content:start;
    align-items: center;
    flex-direction: column;
    gap: 3vw;
}
.inner{
    
    gap: 5px;
    width: 150%;
}
.first div{
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
}.tol{
    position: absolute;
    left: 60px;
    font-weight: 400;
    background-color: black;
    color:white;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 80px;
    opacity: 0;
    
}
.main{
    height: 100%;
    width: 100%;
    background-color: rgb(247, 247, 0);
}
.navdiv{
    height: 10%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.main2{
    height: 90%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
form{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%
   
}
#input{
    height:50%;
    width:90%;
    border-radius: 10px;
    border: none;
    background-color: rgba(178, 170, 170, 0.168);
}


.gallery { display: flex; flex-wrap: wrap;align-items: center; justify-content: center; gap: 15px; }
.acutalimage { width: 300px; height: 400px; object-fit: cover; border-radius: 8px; }
.gallery img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.hove3{
    width: 300px; height: 400px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.584);
    z-index: -1;
    display: none;
   
   
   
  
}
.save{
    height: 90%;
    width: 90%;
    background-color: transparent;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    gap: 80%;
    
    
}
.acutalimage:hover .hove3 {
   z-index: 100; 
   display: block;/* Show when hovering on .acutalimage */
}
#save{
    height: 10%;
    width: 30%;
  
    background-color: red;
    color: white;
    border: none;
    border-radius: 100px;
}
#dow{
    background-color: rgb(164, 154, 154);
    height: 30px;
   

}
